body {
  font-size: 17px;
}
code, kbd, pre, samp {
  font-size: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
img.logo {
  width: 200px !important;
}
h1, .h1 {
  font-size: 35px;
}
pre {
  border: 0px !important;
}
